<h1> Comic Info </h1>
<div class = "subway-seat">
<p><%= @comic.name %></p>
<p> <img src="<%=@comic.image %>"></p>
<p><%= @comic.price %> </p>
<p>Tax: <%= @comic.tax %></p>
<p>Total Price: <%= @comic.total %></p>
<p><%= @comic.description %></p>
</div>

<%= form_tag "/carted_products", method: :post do %>
  <input type="hidden" value=<%= @comic.id %> name="comic_id">
  <input class="number-text" type="text" name="quantity">
  <input type="submit" value="Add to Cart">
<% end %>